*{ box-sizing: border-box; }

html, body{
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Player*/
.player {
    width: 30%;
    max-width: 768px;
    min-width: 320px;
    background-image: linear-gradient(black , gray);
    border-radius: 1rem;
    color: white;
    box-shadow: 2px 2px 3px black;
    height: 80vh;
    overflow: hidden;
}
.content{
    border-radius: 1rem;
    padding: 2rem;
    overflow-y: auto;
    max-height: 100%
}
.content::-webkit-scrollbar {
    width: 10px;
}

.content::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
 
}
.content::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: goldenrod;
}

/*Title*/
.title {
    margin: 0;
    text-align: center;
}
/*Cover*/
.cover { 

    width: 80%;
    height: 40%;
    border-radius:  .3rem;
    display: block;
   margin: 0 auto 1rem auto;
}
/*Progress*/

.progress-container {
  height: .5rem;
  background-color: lightgray;
  margin-bottom: 5%;
}
.progress {
    background-color: goldenrod;
    width: 0% ;
    height: 100%;
   

}
/*Controls*/
.controls {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.controls button {
    background-color: transparent;
    border: none;
}
.controls i {
   font-size: 1.7rem;
   color: white;
}
/*songs*/

.songs {
    margin: 0;
    padding: 0;
    list-style: none;
}
.songs li{

    margin-bottom: 1rem;
}

.songs a {
    color: lightgray;
    text-decoration: none;
}

.songs a.active{

    color: goldenrod;
    font-weight: bold;
}